*{margin: 0;padding: 0;}
:root {
    --font1: 'Oswald', sans-serif;
    --size1: 36px;
    --lineheight1:45px;
    --font2:'Amiri', serif;
    --size2:17px;
    --color2:#666;
    

}
.banner_top{
    background:url(01.jpg) top center;
    height: 600px;
    background-attachment: fixed;
    background-size: cover;   
    position: relative;

}
.banner_top .den{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(left, #0000008c 0%, #00000000 50%,black 100%);
}

.banner_top ._3cot{
    display: flex;
    position: absolute ;
    top: 0px;
    width: 100%;
} 
.banner_top ._3cot ._1cot{
    width: 33.33%;
}
.banner_top ._3cot ._1cot.cottrai{}
.banner_top ._3cot ._1cot.cottrai a{
    font-size: 25px;
    color: white;
    display: inline-block;
    padding: 20px 30px;
}
.banner_top ._3cot ._1cot.cottrai a:hover{
    color: #0345bf;
}

.banner_top ._3cot ._1cot.cotphai{text-align: right;
    padding-right: 20px;
    padding-top: 10px;
}
.banner_top ._3cot ._1cot.cotphai a{text-align: right;
color: white;
font-size: 14px;
padding: 15px 5px;
display: inline-block;

}
.banner_top ._3cot ._1cot.cotphai img{
    
}
.banner_top ._3cot ._1cot.cotgiua{text-align: center;}
.banner_top ._3cot ._1cot.cotgiua a{}
    
.banner_top ._3cot ._1cot.cotgiua img{height: 25px;
padding-top: 20px;}
.text_banner{
    position: absolute;width: 100%;
    top:30%;
    color: white;
}
.text_banner .content{width: 1170px;margin: auto;}
.text_banner .content .small{}
.text_banner .content h1{
    font-family: var(--font1);
    font-size: var(--size1);
    line-height: var(--lineheight1);
    color: white;
    width: 50%;
}
/* end css top */
.content1{
    width:1170px; margin: auto;
    padding: 80px 0;
    display: flex;
    font-family: var(--font2);
    font-size: var(--size2);
    color: var(--color2);
}
.content1 .left{
    width: 30%;
}
.content1 .right{
    width: 65%;
    
}

